@import url('https://fonts.googleapis.com/css?family=PT+Sans');

*
{
	margin: 0;
	padding: 0;
	border: 0;
}

html
{
	height: 100%;
}

body
{
	background-color: #353531;
	color: #C4CBCA;
	margin: 0;
	font-family: 'PT', sans;
	height: 100%;
}

header
{
	position: absolute;
	background-color: #016FB9;
	width: 100%;
	height: 70px;
}

#header-inner
{
	max-width: 1200px;
	margin: 0 auto;
}

#logo
{
	float: left;
	width: 200px;
	height: 70px;
	background: url(../img/logo.png) no-repeat center;
}

nav
{
	padding-top: 10px;
}

nav ul
{
	list-style-type: none;
	display: inline;
}

nav ul li
{
	font-size: 130%;
	display: inline-block;
	padding: 15px;
	color: #353531;
}

nav ul li + li 
{ 
	border-left: 1px solid #353531;
}

nav ul li a
{
	color: #E7CDC6;
	text-decoration: none;
}

nav ul li a:hover
{
	color: #BA0E31;
}

nav ul li.right
{
	float: right;
	border: 0;
}

nav ul li.right a
{
	color: #00B31B;
}

nav ul li.right a:hover
{
	color: #BA0E31;
	text-decoration: underline;
}

#mobile, #menu
{
	display: none;
}

.inner-wrapper
{
	float: left;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
}

#information
{
	float: left;
	width: 60%;
}

#information h1
{
	font-size: 400%;
	margin-left: 10%;
	margin-top: 0;
}

#information h2
{
	font-size: 200%;
	margin-left: 10%;
}

#register
{
	float: right;
	width: 40%;
}

#register input[type=text], #register input[type=password], #register input[type=email] 
{
	width: 80%;
    display: block;
    padding: 12px 0px;
    margin: 20px auto;
    color: #353531;
    font-size: 120%;
}

#register ::-webkit-input-placeholder
{
	padding: 10px;
}

#register ::-moz-placeholder 
{
	padding: 10px;
}

#register :-ms-input-placeholder 
{
	padding: 10px;
}

#register :-moz-placeholder 
{
	padding: 10px;
}

#userType
{
    margin: 0 auto;
    text-align: center;
}

#register input[type=radio]
{
    margin: 10px 5px 10px 10px;
    padding: 10px;
}

label
{
    font-size: 150%;
}

button
{
	display: block;
	margin: 10px auto;
	padding: 10px;
    color: #353531;
    border-radius: 10px;
    font-size: 150%;
    background-color: #1CB041;
    color: #E7CDC6;
	width: 50%;
}

@media screen and (max-width: 854px)
{
	#logo
	{
		margin-left: -30px;
		background: url(../img/logo_mobile.png) no-repeat center;
	}

	#menu
	{
		float: right;
		margin-right: 10px;
		display: inline-block;
		width: 50px;
		height: 50px;
		background: url(../img/menu.png) no-repeat center;
	}

	nav ul, nav:active ul
	{
		display: none;
		z-index: 1000;
		position: absolute;
		background-color: #016FB9;
		padding: 10px;
		border: 1px solid #fff;
		border-radius: 10px 0 10px 10px;
		right: 10px;
		top: 60px;
		width: 50%;
	}

	nav:hover ul
	{
		display: block;
	}

	nav li
	{
		text-align: center;
		width: 100%;
		padding: 10px 0;
		float: right;
		margin-right: -15px;
	}

	nav ul li + li 
	{ 
		border: 0;
	}

	nav ul li.right:not(#mobile)
	{
		display: none;
	}

	#mobile
	{
		display: inline-block;
	}

	#information h1
	{
		font-size: 220%;
		margin-left: 5%;
		width: 90%;
		text-align: center;
	}

	#information h2
	{
		font-size: 150%;
		margin-left: 5%;
		width: 90%;
		text-align: center;
		font-weight: 100;
		margin-top: -10px;
	}

	.inner-wrapper
	{
		margin-top: 80px;
		display: block;
	}

	#information
	{
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}

	#register
	{
		float: left;
		width: 100%;
	}
}